/* Login Page */
body {
    background-color: #e9f2ff;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.card h3 {
    text-align: center;
    color: #0d6efd;
    margin-bottom: 20px;
}

/* Inputs */
.form-control {
    border-radius: 10px;
    padding: 10px 12px;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.2);
}
             
/* Button */
.btn-primary {
    border-radius: 10px;
    font-weight: bold;
}
